<footer>
    <div class="f-container sticky-bottom">
         <div class="f-social">
            <i class="fa-brands fa-square-facebook f-logo"></i>
            <i class="fa-brands fa-square-instagram f-logo"></i>
            <i class="fa-brands fa-linkedin f-logo"></i>
        </div>
        <div class="f-brand"> 
            &copy; WanderLust Private Limited
        </div>
        <div class="f-links">
            <a href="/privacy">Privacy</a>&nbsp;
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>