 <% layout("/layouts/boilerplate") %> 


<div class="text-center errPage mt-5">
   <h1 class=" display-5 text-danger">Oops! <%= err.statusCode %> Error</h1>
   <h4><%= err.message %></h3>
   <a href="/listings" class=" btn btn-primary mt-3">Back to Listings</a>

</div>




