<% layout("/layouts/boilerplate") %> 

<div class="row">
    <div class="col-5 offset-3">
        <div class="border p-4 rounded shadow-sm bg-light mt-3" > <!--  Added boundary here -->
            <h2 class="mb-3 mt-2 text-center">SignUp On WanderLust</h2>
            <form action="/signup" method="post" class="needs-validation" novalidate>
                <div class="mb-1">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" 
                        class="form-control" 
                        id="username" 
                        name="username"
                        placeholder="Enter Username" 
                        required>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please enter a Username</div>
                </div>

                <div class="mb-1">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" 
                        class="form-control" 
                        id="email" 
                        name="email"
                        placeholder="Enter Email" 
                        required>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please Enter an Email</div>
                </div>

                <div class="mb-1">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" 
                        class="form-control" 
                        id="password"  
                        name="password"
                        placeholder="Enter Password" 
                        required>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please Enter a Password</div>
                </div>

                <button type="submit" class="btn btn-success mt-3 w-100">SignUp</button>
            </form>
        </div>
    </div>
</div>
